@{
    ViewData["Title"] = "User";
}
<div class="text-center">
    <h1 class="display-4">User Page</h1>
    <p>UserName: @ViewData["username"]</p>
    <p>Email: @ViewData["email"]</p>
    <p>Phone Number: @ViewData["phone"]</p>
    <p>Full Name: @ViewData["fullname"]</p>
</div>